@font-face {
   font-family: 'GothamBook';
   font-display: swap;
   src: url('file:///Users/pedrocoutinho/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-06-08_103932/fonts/GothamBook/font.ttf');
}
